{{ define "head" }}
<link rel="stylesheet" href="/assets/css/cv.css" />
{{ end }} {{ define "content" }}

<h1>CV</h1>

<section>
  <h2>Skills</h2>

  <hr />

  <h3>Code</h3>
  <ul>
    <li>HTML, CSS, SCSS</li>
    <li>JavaScript (TypeScript, React, Vue, Svelte, Chai/Mocha)</li>
    <li>PHP (Laravel, phpunit)</li>
    <li>C++</li>
    <li>Go</li>
    <li>Python</li>
  </ul>

  <h3>Data</h3>
  <ul>
    <li>SQL (MySQL, SQL Server, SQLite</li>
    <li>Excel, PowerQuery, PowerBI</li>
    <li>SPSS</li>
  </ul>

  <h3>Tech</h3>
  <ul>
    <li>Linux</li>
    <li>git</li>
  </ul>

  <h3>Soft</h3>
  <ul>
    <li>Critical thinking &amp; quantitative problem solving</li>
    <li>Teaching technical concepts approachably</li>
    <li>Adaptability &amp; attention to detail</li>
  </ul>
</section>

<section>
  <h2>Experience</h2>

  <hr />

  <h3>Software Developer</h3>

  <h3>Junior Research Engineer</h3>

  <h3>Graduate Student Researcher</h3>

  <h3>Graduate Teaching Assistant</h3>

  <h3>Undergraduate Research Assistant</h3>
</section>

<section>
  <h2>Education</h2>

  <hr />
</section>

{{ end }}
