h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

body {
    background-color: lightgray;
    margin: 0;
    min-height: 100vh;
    padding: 0;
    position: relative;
}

header {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    height: fit-content;
    justify-content: space-between;
    padding: 1rem;
    width: 100%;
}

nav {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

nav > a {
    padding: 1rem 0 1rem 1rem;
}

main {
    padding: 1rem 1rem 3rem 1rem;
}

footer {
    align-items: center;
    bottom: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 3rem;
    padding: 1rem;
    position: absolute;
    width: 100%;
}